@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&family=DM+Sans:opsz@9..40&family=Inter:wght@300;400;500;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Open+Sans&family=Oswald:wght@700&family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  color: #2D2D2B;
  position: relative;
}

hr {
  margin: 0;
}

#to-the-top {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: none;
  background-color: rgba(177, 177, 177, 0.4784313725);
  opacity: 1;
  transition: ease-in-out 120ms;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 2;
}
#to-the-top:hover {
  box-shadow: 0 0 4px 1px #6c8991;
  background-color: #cdcdcd;
  transform: scaleY(1.1);
}

.hide-btn {
  opacity: 0 !important;
}

@media (min-width: 320px) {
  #to-the-top {
    display: none;
  }
  hr {
    display: none;
  }
  #btn-search {
    display: flex;
    align-items: center;
    margin: auto;
    border: none;
    background-color: transparent;
  }
  #mobil-menu ul {
    margin-inline: 1rem;
    padding: 0;
  }
  #mobil-menu li {
    list-style-type: none;
    padding: 6px 16px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  #mobil-menu li:active {
    background-color: rgba(242, 242, 242, 0.5921568627);
  }
  #mobil-menu a {
    color: #2D2D2B;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
  }
  #mobil-menu a:hover {
    text-decoration: underline;
  }
  #mobil-menu .mobil-menu-btn {
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 48px;
    height: 48px;
    background-color: #d7d7d7;
  }
  #mobil-menu #btn-bars {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  #mobil-menu #xmark {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  #development-subheadlines li {
    background-color: transparent;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  #development-subheadlines a {
    font-size: 16px;
  }
  .hide {
    display: none !important;
  }
  .show-top-menu-mobil {
    display: block;
    z-index: 1;
  }
  #top-menu-mobil {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100vw;
    padding: 2rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
  #top-menu-mobil i {
    color: #2D2D2B;
    font-size: 1.4rem;
  }
  #top-menu-mobil #logotype {
    width: 60vw;
  }
  .end-arrow {
    display: none;
  }
  #desktop-menu {
    display: none;
  }
  #main-menu {
    display: none;
  }
  section.main {
    margin-top: 0;
  }
  .boxes {
    display: block;
    margin: auto;
    padding-block: 2rem;
  }
  .news {
    padding-block: 2rem;
    padding-inline: 2rem;
  }
  .news h1 {
    font-weight: 600;
    margin-bottom: 0.6rem;
  }
  .news h2 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }
  .news .light {
    font-weight: 300;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
  }
  .footer {
    padding-top: 2rem;
    padding-bottom: 6rem;
    padding-inline: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    position: relative;
  }
  #blob-right {
    width: 25vw;
  }
  #blob-left {
    width: 25vw;
  }
}
@media (min-width: 1400px) {
  hr {
    display: block;
  }
  .menu {
    padding-inline: 16rem;
    padding-top: 2rem;
    position: relative;
  }
  #mobil-menu {
    display: none;
  }
  #desktop-menu {
    display: block;
    margin-bottom: 1rem;
  }
  #desktop-menu #logotype-and-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }
  #Lyssna {
    text-align: right;
    cursor: pointer;
  }
  #Lyssna i {
    margin-right: 0.5rem;
  }
  #main-menu {
    padding-block: 1rem;
    display: flex;
    justify-content: left;
    background-color: white;
  }
  #main-menu .main-menu-items {
    margin-right: 2.5rem;
    font-size: 1.1rem;
    position: relative;
  }
  #main-menu .main-menu-items h5 {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    position: relative;
  }
  #main-menu .main-menu-items h5:hover {
    -webkit-text-decoration: underline solid 2px #489c79;
            text-decoration: underline solid 2px #489c79;
  }
  #logotype-desktop {
    width: 20vw;
  }
  .togglemenu-design {
    padding-inline: 16rem;
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    left: 0;
    z-index: 1;
    background-color: #F6F5F4;
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 70vh;
  }
  .togglemenu-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .togglemenu-content a {
    color: #2D2D2B;
    text-decoration: none;
  }
  .togglemenu-content a:hover {
    text-decoration: underline;
  }
  section.main {
    margin-top: 2rem;
  }
  .boxes {
    padding-inline: 16rem;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow: hidden;
  }
  .boxes .end-arrow {
    display: flex;
  }
  .boxes .box-container {
    height: 40rem;
    overflow: hidden;
  }
  .boxes #box-1 {
    grid-area: 1/1/span 2/span 2;
  }
  .boxes #box-2 {
    grid-area: 1/3/span 2/span 2;
  }
  .boxes #box-3 {
    grid-area: 1/5/span 2/span 2;
  }
  .boxes #box-4 {
    grid-area: 3/1/span 1/span 3;
    height: 20rem;
  }
  .boxes #box-5 {
    grid-area: 3/4/span 1/span 3;
    height: 20rem;
  }
  .boxes .text-container {
    height: 44rem;
  }
  .news {
    padding-inline: 16rem;
    display: block;
  }
  .footer {
    padding-inline: 16rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1fr;
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
  .footer #blob-right {
    width: 16vw;
  }
  .footer #blob-left {
    width: 16vw;
  }
}
.search {
  border: solid 2px rgb(207, 207, 207);
  padding: 0.8rem;
  border-radius: 0.3rem;
}
.search input {
  border: none;
}

#search-mobil {
  margin-inline: 1rem;
  margin-bottom: 2rem;
}

.search-box {
  outline: none;
}

.main {
  margin-top: 3rem;
}
.main .image-container {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  z-index: 0;
}
.main .image-container #main-image {
  width: 100vw;
  z-index: 0;
  position: relative;
}
.main .image-container #green-wave {
  z-index: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100vw;
}
.main .filler {
  width: 100%;
  height: 6rem;
  background-color: #F0FAF0;
}

.boxes {
  background: linear-gradient(to left, #006b88, #00495D, #00495D, #00495D, #006b88);
}
.boxes .box-container {
  border-radius: 1rem;
  margin-inline: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.boxes .box-container .image-box {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.boxes .box-container .text-container {
  padding: 1rem;
  background-color: white;
}
.boxes .box-container a {
  text-decoration: none;
  color: #2D2D2B;
}
.boxes .box-container a:hover {
  color: #747474;
}
.boxes .box-container a:hover h4 {
  text-decoration: underline;
}
.boxes .box-container h4 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.6rem;
}
.boxes .box-container .end-arrow {
  padding: 1rem;
  padding-bottom: 1.2rem;
  position: absolute;
  right: 2%;
  bottom: 1%;
}

.news {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}
.news a {
  text-decoration: none;
  color: #2D2D2B;
}
.news a:hover h2 {
  -webkit-text-decoration: underline solid 2px #2D2D2B;
          text-decoration: underline solid 2px #2D2D2B;
}

.hashtag {
  text-decoration: none;
  color: #00495D;
  border: solid 1px #00495D;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: color ease-in-out 120ms;
}
.hashtag:hover {
  color: #5b8169;
}

.end {
  display: flex;
  justify-content: center;
}
.end #more-news {
  background-color: #006858;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  transition: background-color ease-in-out 120ms;
}
.end #more-news a {
  color: white;
}
.end #more-news:hover {
  background-color: #00483c;
}

.green-wave {
  width: 100vw;
  height: 5vw;
  margin-block: 0;
  padding-block: 0;
  position: relative;
  border: none;
}
.green-wave #green-wave {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer {
  position: relative;
  background-color: #006858;
  color: white;
  border: none p;
  border-margin-bottom: 1rem;
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer li {
  list-style-type: none;
  margin-bottom: 1rem;
}
.footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer #blob-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.footer #blob-left {
  position: absolute;
  bottom: 0;
  left: 0;
}